<header class="header fixed-top d-flex align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-4 align-self-center">
        <a routerLink="/" class="header__logo">
          <img src="assets/img/logo1.png" alt="logo">
        </a>
      </div>
      <div class="offset-lg-4 col-lg-5 col-md-9 col-8 align-self-center header__menu">
        <a md-button routerLink="/">main</a>
        <a md-button routerLink="/author-info">about author</a>
      </div>
    </div>
  </div>
</header>


<!--<header class="header fixed-top d-flex align-items-center">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-lg-3 col-md-6 col-5 align-self-center">-->
        <!--<a routerLink="/" class="header__logo">-->
          <!--<img src="assets/img/logo1.png" alt="logo">-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="col-lg-4 col-md-6 col-7">-->
        <!--<app-search></app-search>-->
      <!--</div>-->
      <!--<div class="col-lg-5  align-self-center header__menu">-->
        <!--<a md-button routerLink="/">main</a>-->
        <!--<a md-button routerLink="/author-info">about author</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</header>-->
