<main class="main author">
  <div class="main__wrapper">
    <div  class="container">
      <div class="row d-flex align-items-center author__wrapper">
        <div class="col-lg-6 col-md-7 col-sm-7 col">
          <div class="author__info">
            Hi guys! I'm Tatyana Kulagina, front-end developer. I like to keep life in balance, that is to work well - to have a good rest.
            All the detailed information, examples of my work can be found by reference in the footer. Have a nice day ;)
          </div>
        </div>

        <div class="author__photo"></div>

      </div>
    </div>
  </div>
</main>
