<carousel class="carousel">
  <slide>
    <img class="carousel__img" src="assets/img/examples/mt-1019_home_bg01.jpg" alt="First slide">
    <div class="carousel-caption">
      <h3>Our cars are the best</h3>
      <p>Choose a car for the soul.</p>
    </div>
  </slide>
  <slide>
    <img class="carousel__img" src="assets/img/examples/mt-1019_home_bg02.jpg" alt="Second slide">
    <div class="carousel-caption">
      <h3>Our cars are the best</h3>
      <p>Choose a car for yourself.</p>
    </div>
  </slide>
  <slide>
    <img class="carousel__img" src="assets/img/examples/mt-1019_home_bg03.jpg" alt="Third slide">
    <div class="carousel-caption">
      <h3>Our cars are the best</h3>
      <p>Always on a horse.</p>
    </div>
  </slide>
</carousel>
