<footer class="d-flex align-items-center footer">
  <div  class="container">
    <div class="row">
      <div class="col-md-5">
        <a md-mini-fab href="https://www.facebook.com/TankaKulagina"><i class="fa fa-facebook"></i></a>
        <a md-mini-fab href="https://www.linkedin.com/in/tatiana-kulagina-33b567b7/"><i class="fa fa-linkedin"></i></a>
        <a md-mini-fab href="https://github.com/TankaMelnyk"><i class="fa fa-github"></i></a>
      </div>
      <div class="col-md-7 align-self-center footer__right">
        Developed by CoolTanka, 2017.
      </div>
    </div>
  </div>
</footer>
